body {
  background-color: black;
}
.panel{
  background-color: #4C5E70;
  color: white;
}
#footer{
  background-color: dimgray;
  color: white;
}
.angular-google-map{
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.input-group-addon a {
  cursor: pointer;
  min-width: 40px;
}

pre.json {
  white-space: pre-wrap;
  max-height: 300px;
}

.full-size {
  max-height: 800px;

  .modal-dialog {
    width: 90%;
    height: 90%;
    margin: 30px auto;
    max-width: 800px;
  }

  .modal-content, .modal-body {
    height: 100%;
  }
}

.angular-google-map-container {
  height: 600px;
}